body#index,
body#gradient {
    --color-primary: rgb(236, 209, 111);
    --color-primary-dark: rgb(247, 206, 58);
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 12px;
    font-size: 16px;
    height: 100vh; /* 1vh is 1% of viewports height. */
}

body#index {
    display: flex;
    background: url(./assets/img/pexels-adonyi-gabor-1416848_lesslightness.jpg) no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

body#gradient {
    background-image: linear-gradient(to bottom right, rgb(182, 224, 222), rgb(232, 216, 180));
    background-attachment: fixed;
}

/* body#index { */
    /* background: url(./assets/img/pexels-adonyi-gabor-1416848_lesslightness.jpg) no-repeat center center fixed; */
    /* background-repeat: no-repeat; */
    /* position: center; */
    /* background-size: cover; */
    /* Image will take over entire width of the background with cover. */
/* } */

/* body#gradient { */
    /* background-image: linear-gradient(to bottom right, rgb(182, 224, 222), rgb(232, 216, 180)); */
    /* background-attachment: fixed; */
/* } */

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('./font/brush_script_mt/BrushScriptMT.eot');
    src: url('./font/brush_script_mt/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
        url('./font/brush_script_mt/BrushScriptMT.woff2') format('woff2'),
        url('./font/brush_script_mt/BrushScriptMT.woff') format('woff'),
        url('./font/brush_script_mt/BrushScriptMT.ttf') format('truetype'),
        url('./font/brush_script_mt/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Medium.eot');
    src: url('Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        /* url('Quicksand-Medium.woff2') format('woff2'),
        url('Quicksand-Medium.woff') format('woff'),
        url('Quicksand-Medium.ttf') format('truetype'), */
        url('Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.logo {
    padding: 10px 0px 40px; /* top is 10, left and right are both 0, bottom is 40 */
    font-size: 3rem;
    text-align: center;
    font-family: 'Brush Script MT';
    font-style: bold;
}

.loginBox {
    height: 400px;
    max-height: 400px;
    /* box-shadow: 50 50 400px rgba(0, 0, 0, 0.2); */
    /* font-family: 'Quicksand', sans-serif; */
    /* padding: 25px 50px 40px 50px; */
    /* 234, 224, 224 on harmaa box */
    /* 195, 190, 190 on border */
}

.accountCreationBox {
    height: 500px;
    max-height: 500px;
}

.loginBox,
.accountCreationBox {
    border: 1px solid rgb(255, 255, 255); /* This doesn't do much but is also harmless. */
    width: 300px;
    max-width: 300px;
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
}

.messageBox {
    border: 1px solid rgb(255, 255, 255);
    width: 250px;
    max-width: 250px;
    height: 150px;
    max-height: 150px;
    padding: 20px 25px 5px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
}

.loginBox,
.accountCreationBox,
.messageBox,
.navbar,
.form__input,
.form__button  {
    font: 500 1rem 'Quicksand', sans-serif;
}

.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
}

.subBoxLeft {
    width: 30%;
    padding: 10px;
    text-align: left;
}

.subBoxLeft2 {
    width: 50%;
    padding: 10px;
    text-align: left;
}

.subBoxRight {
    width: 70%;
    padding: 10px;
    text-align: right;
}

.loginErrorMessageBox {
    width: 100%;
    padding: 25px 10px 10px 10px;
    text-align: center;
}

.loginErrorText {
    color: red;
}

/* input[type='text'], input[type='password'] { */
    /* width: 288px; */
    /* height: 30px; */
    /* margin-bottom: 10px; */
/* } */

/* input[type='submit'] { */
    /* width: 295px; */
    /* height: 40px; */
    /* margin-bottom: 10px; */
    /* background-color: rgb(236, 209, 111) */
/* } */

.form__input-group {
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    /* Transition background determines how long it takes for the background color to gradually change into the specified color. */
}

.form__input:focus {
    background: rgb(255, 255, 255);
}

.form__button {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--color-primary);
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    cursor: pointer;
    padding: 0.75rem;
}

.form__button:hover {
    background-color: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__link,
.message__link,
.nav__link {
    color: var(--color-secondary);
    text-decoration: none;
}

.form__link:hover,
.message__link:hover,
.nav__link:hover {
    text-decoration: underline;
}

.navbar {
    height: 10px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 1px 0 black;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar > a:first-child { /* Fixed from navbar a:first-child. Not sure why this solved the problem of the second vertical border line. */
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 2rem; /* The padding prints margin between text and border. Margin doesn't do that. */
}

.navbar a {
    float: left;
}

.navbar-right {
    float: right;
}

.nav__link {
    padding: 0 1rem;
    /* 1 rem equals the font size of the html element */
}

#snap {
    width: 10vw;
    height: 10vw;
    max-width: 125px;
    max-height: 125px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: gainsboro;
    margin: 20px;
    font-size: min(max(10px, 2vw), 18px)
    /* line-height: 150px; Apparently the purpose of this is to center the text vertically, but I don't know if that's what it does really. */
}

#save {
    width: 7vw;
    height: 7vw;
    max-width: 85px;
    max-height: 60px;
    cursor: pointer;
    border-radius: 10%;
    font-size: min(max(7px, 1.5vw), 18px)
}

#save, #upload {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: gainsboro;
    margin: 20px;
    /* line-height: 150px; Apparently the purpose of this is to center the text vertically, but I don't know if that's what it does really. */
}

#upload {
    font-size: 1.1em;
}

.captureElements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.captureElementsLeftSide {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.captureElementsRightSide {
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.editables {
    width: 80vw;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* justify-content: left; */
}

.videoArea {
    width: 50%;
    height: 50%;
}

.canvasArea {
    width: 50%;
    height: 50%;
}

.snapArea {
    margin-top: 25vw;
    margin-left: 10vw;
}

.buttonArea {
    margin-top: 25vw;
    margin-left: 10vw;
}

.photoDisplayBar {
    position: absolute;
    width: 20vw;
    max-width: 400px;
    height: 60vw;
    max-height: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 20px 4px;
}

/* .displayBar {   
    width: 20%;
    background-color: white;
    border-radius: 5%;
} */

.video {
    position: absolute;
    width: 28vw;
    height: 21vw;
    min-width: 320px;
    min-height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 7px 5px 20px 4px;
}

.canvas {
    position: absolute;
    width: 28vw;
    height: 21vw;
    min-width: 320px;
    min-height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 7px 5px 20px 4px;
}

#video, #canvas {
    position: absolute;
    width: 28vw;
    height: 21vw;
    min-width: 320px;
    min-height: 240px;
}

#stickerPreview1 {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	min-width: 320px;
	min-height: 240px;
	position: absolute;
	z-index: 1; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#stickerPreview2 {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	min-width: 320px;
	min-height: 240px;
	position: absolute;
	z-index: 1; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#lockedStickerCanvas {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	min-width: 320px;
	min-height: 240px;
	position: absolute;
	z-index: 1; /* Determines if the layer is on top or below. */
    background-color: greenyellow;
    /* The above is to keep track of where the canvas is. */
}

.stickerBarArea {
    /* width: 65vw;
    height: 10vw; */
    /* max-height: 150px; */
    margin-top: 100px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stickerBar {
    width: 65vw;
    height: 10vw;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 5px 20px 4px;
}

.stickerSlot {
    width: 16%;
    height: 90%;
    background-color: white;
    border: 1px solid coral;
}

.sticker {
    max-width: 10vw;
    max-height: 10vw;
    background-color: white;
    border: 1px solid coral;
}
