body {
    background-image: linear-gradient(to bottom right, rgb(182, 224, 222), rgb(232, 216, 180));
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('./font/brush_script_mt/BrushScriptMT.eot');
    src: url('./font/brush_script_mt/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
        url('./font/brush_script_mt/BrushScriptMT.woff2') format('woff2'),
        url('./font/brush_script_mt/BrushScriptMT.woff') format('woff'),
        url('./font/brush_script_mt/BrushScriptMT.ttf') format('truetype'),
        url('./font/brush_script_mt/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.logo {
    padding: 10px 0px 50px;
    font-size: 48px;
    text-align: center;
    font-family: 'Brush Script MT';
    font-style: bold;
}

.loginBox {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 10% auto;
    padding: 50px 50px 50px 50px;
    /* 234, 224, 224 on harmaa box */
    /* 195, 190, 190 on border */
}

.accountCreationBox {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 10% auto;
    padding: 50px 50px 50px 50px;
}

.messageBox {
    position: relative;
    border: 1px solid rgb(195, 190, 190);
    width: 200px;
    height: 150px;
    background-color: rgb(234, 224, 224);
    border-radius: 15px;
    margin: 10% auto;
    padding: 50px 50px 50px 50px;
}

.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
}

.subBoxLeft {
    width: 35%;
    padding: 10px;
    text-align: left;
}

.subBoxRight {
    width: 65%;
    padding: 10px;
    text-align: right;
}

.loginErrorMessageBox {
    width: 100%;
    padding: 25px 10px;
    text-align: center;
}

.loginErrorText {
    color: red;
}

input[type='text'], input[type='password'] {
    width: 288px;
    height: 30px;
    margin-bottom: 10px;
}

input[type='submit'] {
    width: 295px;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(236, 209, 111)
}

img {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
