body#index,
body#gradient {
    --color-primary: rgb(236, 209, 111);
    --color-primary-dark: rgb(247, 206, 58);
    --color-secondary: #252c6a;
    --color-error: red;
    --color-success: #4bb544;
    --color-highlight: rgb(234, 234, 234);
    --border-radius: 12px;
    font-size: 16px;
    height: 100vh;
}

body#index {
    display: flex;
    background: url(./assets/img/pexels-adonyi-gabor-1416848_lesslightness.jpg) no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

body#gradient {
    /* background-image: linear-gradient(to bottom right, rgb(251, 248, 224), rgb(229, 191, 103)); */
    background-image: linear-gradient(to bottom right, rgb(248, 242, 200), rgb(232, 220, 192));
    /* background-image: linear-gradient(to bottom right, rgb(244, 242, 234), rgb(232, 220, 192)); */
    /* background-image: linear-gradient(to bottom right, rgb(248, 242, 200), rgb(237, 207, 135)); */
    /* background-image: linear-gradient(to bottom right, rgb(182, 224, 222), rgb(232, 216, 180)); */
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('./font/brush_script_mt/BrushScriptMT.eot');
    src: url('./font/brush_script_mt/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
        url('./font/brush_script_mt/BrushScriptMT.woff2') format('woff2'),
        url('./font/brush_script_mt/BrushScriptMT.woff') format('woff'),
        url('./font/brush_script_mt/BrushScriptMT.ttf') format('truetype'),
        url('./font/brush_script_mt/BrushScriptMT.svg#BrushScriptMT') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./font/quicksand/Quicksand-Medium.eot');
    src: url('./font/quicksand/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/quicksand/Quicksand-Medium.woff2') format('woff2'),
        url('./font/quicksand/Quicksand-Medium.woff') format('woff'),
        url('./font/quicksand/Quicksand-Medium.ttf') format('truetype'),
        url('./font/quicksand/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.logo {
    padding: 10px 0px 40px;
    font-size: 3rem;
    text-align: center;
    font-family: 'Brush Script MT';
    font-style: bold;
}

.loginBox {
    height: 400px;
    max-height: 400px;
    /* box-shadow: 50 50 400px rgba(0, 0, 0, 0.2); */
    /* font-family: 'Quicksand', sans-serif; */
    /* padding: 25px 50px 40px 50px; */
    /* 234, 224, 224 on harmaa box */
    /* 195, 190, 190 on border */
}

.accountCreationBox {
    height: 600px;
    max-height: 600px;
}

.loginBox,
.accountCreationBox {
    border: 1px solid rgb(255, 255, 255); /* This doesn't do much but is also harmless. */
    width: 300px;
    max-width: 300px;
    margin: 1rem;
    padding: 5rem 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
}

.messageBox {
    border: 1px solid rgb(255, 255, 255);
    width: 250px;
    max-width: 250px;
    height: 150px;
    max-height: 150px;
    padding: 20px 25px 20px 25px;
    background-color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
}

.loginBox,
.accountCreationBox,
.messageBox,
.navbar,
.form__input,
.form__button  {
    font: 500 1rem 'Quicksand', sans-serif;
    max-width: 400px;
}

.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
}

.subBoxLeft {
    width: 30%;
    padding: 10px;
    text-align: left;
}

.subBoxLeft2 {
    width: 50%;
    padding: 10px;
    text-align: left;
}

.subBoxRight {
    width: 70%;
    padding: 10px;
    text-align: right;
}

.subBoxRight2 {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loginErrorMessageBox,
.errorMessageBox,
.successMessageBox {
    width: 100%;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.loginErrorText,
.errorText {
    color: var(--color-error);
}

.successText {
    color: var(--color-success);
}

.form__input-group {
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    /* transition: background determines how long it takes for the background color to gradually change into the specified color. */
}

.form__input2 {
    display: block;
    width: 90%;
    margin: 0 10px 0 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    /* transition: background determines how long it takes for the background color to gradually change into the specified color. */
}

.form__input:focus, .form__input2:focus {
    background: rgb(255, 255, 255);
}

.form__button {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--color-primary);
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    cursor: pointer;
    padding: 0.75rem;
}

.form__button2 {
    width: 90%;
    margin: 0 10px 0 10px;
    margin-bottom: 10px;
    background-color: var(--color-primary);
    color: #000000;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    cursor: pointer;
    padding: 0.5rem;
}

.form__button:hover, .form__button2:hover {
    background-color: var(--color-primary-dark);
}

.form__button:active, .form__button2:active {
    transform: scale(0.98);
}

.form__link,
.message__link,
.nav__link {
    color: var(--color-secondary);
    text-decoration: none;
}

.form__link:hover,
.message__link:hover,
.nav__link:hover {
    text-decoration: underline;
}

.navbar {
    height: 45px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 1px 0 black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbarElements {
    height: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar-left > a:first-child {
    border-right: 1px solid rgb(0, 0, 0);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 2rem;
}

.navbar-left {
    width: 368px;
    min-width: 16px;
    height: 45px;
    display: flex;
    align-items: center;
}

.navbar-right {
    width: 128px;
    min-width: 16px;
    height: 45px;
    display: flex;
    align-items: center;
}

.nav__icon {
    margin-left: 10px;
    margin-right: 10px;
}

.nav__iconText {
    font-size: 1.6rem;
    font-family: 'Brush Script MT';
    font-style: bold;
    border-right: 1px solid black;
    text-decoration: none;
    color: black;
}

.nav__welcomeText {
    font-size: min(max(10px, 2vw), 18px);
}

#snap {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: gainsboro;
    margin: 20px;
    font-size: 18px;
}

#save {
    width: 85px;
    height: 60px;
    cursor: pointer;
    border-radius: 10%;
    font-size: 18px;
}

#save, #upload {
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: gainsboro;
    margin: 20px;
}

#upload {
    font-size: 1.1em;
}

.photoDisplayBar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 100px;
    max-width: 400px;
    height: 60vw;
    min-height: 300px;
    max-height: 1000px;
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 2px 5px 20px 4px;
}

#barPhoto {
	width: 12vw;
    height: 9vw;
	margin: 0.5vw;
}

.halfContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.videoScreenArea,
.canvasScreenArea {
    width: 28vw;
    height: 21vw;
    max-width: 640px;
    max-height: 480px;
    min-width: 320px;
    min-height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 7px 5px 20px 4px;
}

.captureElements {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* @media screen and (max-width: 600px) {
    .captureElements {
        display: flex;
        flex-direction: column;
    }  
} */

.canvasContainer,
.videoContainer {
    width: 640px;
    min-width: 350px;
    max-height: 840px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.videoScreens,
.canvasScreens {
    height: 50%;
}

.buttonArea {
    height: 50%;
}

.saveButtonArea {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.canvas {
    width: 28vw;
    height: 21vw;
    min-width: 320px;
    min-height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 7px 5px 20px 4px;
}

#video,
#canvas {
    width: 28vw;
    height: 21vw;
    max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
    position: absolute;
}

#stickerPreview1 {
    width: 28vw;
	height: 21vw;
	max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
    position: absolute;
	z-index: 3; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#stickerPreview2 {
    width: 28vw;
	height: 21vw;
	max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
	position: absolute;
	z-index: 3; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#lockedPreview1 {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
	position: absolute;
	z-index: 2; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#lockedPreview2 {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
	position: absolute;
	z-index: 2; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

#lockedPreview3 {
    /* Dimensions must be changed to 28 and 21, respectively. */
    width: 28vw;
	height: 21vw;
	max-width: 640px;
    min-width: 320px;
    max-height: 480px;
    min-height: 240px;
	position: absolute;
	z-index: 2; /* Determines if the layer is on top or below. */
    /* background-color: greenyellow; */
    /* The above is to keep track of where the canvas is. */
}

.stickerBarArea {
    /* width: 65vw;
    height: 10vw; */
    /* max-height: 150px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stickerBar {
    width: 65vw;
    height: 12vw;
    max-height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: white;
    border-radius: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 7px 5px 20px 4px;
}

.stickerSlot {
    /* width: 10vw; */
    background-color: white;
    border: 1px solid coral;
}

.sticker {
    max-width: 10vw;
    max-height: 10vw;
    background-color: white;
    border: 1px solid coral;
}

.galleryPhotoArea,
.profileMasterContainer {
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 100px 100px;
}

.profileMenuArea {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.profileMenu {
    padding: 10px;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.optionElement:hover {
    background-color: var(--color-highlight);
    border-radius: 10px;
    transition: background-color 0.2s;
}

.profileLeftSubContainer {
    width: 60px;
    height: 50vh;
    min-height: 350px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
}

.galleryPhotos,
.profileRightSubContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galleryElement {
    width: 25%;
    min-width: 320px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    background: white;
    padding: 15px;
    box-shadow: 1px 1px 1px 1.5px rgb(50, 49, 49);
    border-radius: 2px;
}

.galleryElement > div:first-child {
    font: 600 1rem 'Quicksand', sans-serif;
}

.handleElement {
    margin-bottom: 10px;
}

.photoElement {
    width: 100%;
    margin-bottom: 15px;
}

.iconElement {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconElementLeft {
    width: 70%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.iconElementRight {
    width: 30%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.likeIcon {
    margin-left: 15px;
}

.likeIcon:hover,
.notifIcon:hover {
    cursor: pointer;
}

.heartEmptyIcon {
    width: 32px;
    height: 32px;
    /* background: url('./icons/heartempty32.png'); */
}

.heartFullIcon {
    width: 32px;
    height: 32px;
    background: url('./icons/heartfull32.png');
}

.commentElement > div {
    border-top: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commentElement > div:first-child {
    margin-top: 10px;
}

.commentElement > div:last-child {
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.commentElement > div > div:first-child {
    text-align: left;
    font: 600 1rem 'Quicksand', sans-serif;
    margin-bottom: 5px;
}

.pageArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pageArea > a {
    text-decoration: none;
    margin: 1em;
}

.settingsArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.settingsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px;
}

.settingsBoxLeftSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.settingsBoxLeftSide > div {
    width: 20vw;
    height: 350px;
    padding: 1em;
    border-bottom: solid 1px gainsboro;
    border-right: solid 1px gainsboro;
}

.settingsBoxLeftSide > div:first-child {
    height: 550px;
}

.settingsBoxLeftSide > div:last-child {
    border-bottom: none;
    height: 200px;
}

.settingsBoxRightSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.settingsBoxRightSide > div:first-child {
    height: 550px;
}

.settingsBoxRightSide > div {
    width: 50vw;
    height: 350px;
    padding: 1em;
    border-bottom: solid 1px gainsboro;
}

.settingsBoxRightSide > div:last-child {
    border-bottom: none;
    height: 200px;
}